@import "compass/reset";
@import "compass/css3";

// Basic Page Styles
body {
    text-align: center;
    font: 1em/1.5 Georgia, serif;
    color: #333;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-family: Bitter, Georgia, serif;
    font-size: 2.25em;
    padding: 0 1em;
}
.header,
.footer {
    background: #f7f7f7;
}
.header {
    padding: 10em 0 14em;

    h1 {
        font-style: italic;
    }
}
.avatar {
    @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
    @include border-radius(50px); // half the avatar size
    width: 100px;
    height: 100px;
}
.footer {
    p {
        color: #777;
        padding: 0 1em;
    }
}
// Icon fonts
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
// Shared styles
.icon-facebook:before,
.icon-twitter:before,
.icon-github:before,
.icon-google-plus:before,
.icon-linkedin:before{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.social {
    margin:2em 0;
    font-family: Helvetica, Arial, sans-serif;

    li {
        position: relative;
        @include inline-block();
        margin: .5em;
        @include transition(all .15s ease);

        &:hover {
            @include scale(1.25);
            color: white;
        }

        &:before {
            position: absolute;
            width: 2em; /* center align technique, give width, negative half margin */
            margin-left: -1em;
            top: 1.5em;
            left: 50%;
        }

        a {
            display: block;
            color: inherit;
            padding: 2.5em 1em 1em;
            width: 6em;
            // allow truncation if needed
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

// Individual characters
.icon-facebook:before {
    content: "\e000";
}
.icon-github:before {
    content: "\e001";
}
.icon-linkedin:before {
    content: "\e002";
}
.icon-google-plus:before {
    content: "\e003";
}
.icon-twitter:before {
    content: "\e004";
}
// Brand Colours
/* Twitter */
.icon-twitter {color: #00a0d1}
.icon-twitter:hover {background:#00a0d1}
/* Instagram */
.icon-linkedin {color: #4875b4}
.icon-linkedin:hover {background: #4875b4}
/* Facebook */
.icon-facebook {color: #3b5998}
.icon-facebook:hover {background: #3b5998}
/* Google Plus */
.icon-google-plus {color: #db4a39}
.icon-google-plus:hover {background: #db4a39}
/* GitHub */
.icon-github {color: #000000}
.icon-github:hover {background: #000000}